

.input{
    position: relative;
    text-align: center;
}

.title{
    position: absolute;
    color: red;
    text-align: center;
    top: 10%;
    left: 35%;
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: red;/*文字色*/
    background: #FFF;
    border: solid 3px red;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.head_text {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 30%;
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.save {
    font-family: "Sawarabi Mincho";
    display: inline-block;
    padding: 1.5em 2em;
    align-items: center;
    text-decoration: none;
    color: red;
    border: solid 2px red;
    border-radius: 3px;
    transition: .4s;
}

.save:hover {
    background: #FFD700;
    color: white;
}

.clear {
    font-family: "Sawarabi Mincho";
    display: inline-block;
    padding: 1.5em 2em;
    align-items: center;
    text-decoration: none;
    color: red;
    border: solid 2px red;
    border-radius: 3px;
    transition: .4s;
}

.clear:hover {
    background: blue;
    color: white;
}